<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="index.cgi" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="Bugzilla" path="*.cgi" verb="*" modules="CgiModule" scriptProcessor="C:\Development\StrawberryPerl\Perl\bin\perl.exe -x&quot;D:\repositories\Bugzilla&quot; -wT &quot;%s&quot; %s" resourceType="File" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="REST">
                    <match url="^rest/(.*)$" />
                    <action type="Rewrite" url="rest.cgi/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
